<div class="recentCalenderController">
    <ul>
        <li>
            <div class="clear-float padding-width-md padding-height-md background-color-lightGray border-line-bottom border-line-top border-color-global-base">
                <div class="projectIconfont iconfont-xl font-color-white background-color-pink radius-full float-left text-center">
                    &#xe665;
                </div>
                <div class="iconfont-height-xl float-left h3 margin-left-md">
                    今日日程
                </div>
                <div class="iconfont-height-xl float-right h3 margin-left-md font-color-pink">
                    {{(data.today.length+data.expire.length)>0?((data.today.length+data.expire.length)+'项'):'无'}}
                </div>
            </div>
            <ul>
                <li class="background-color-white" ng-repeat="event in data.expire">
                    <div class="clear-float margin-left-md padding-right-md padding-height-md {{$index!=0?'border-line-top':''}} border-color-global-base" ng-if="event.type==1" ui-sref="writeRecord({eventId:event.eventId})">
                        <div class="projectIconfont iconfont-md font-color-orange radius-full float-left text-center h1">
                            &#xe64f;
                        </div>
                        <div class="iconfont-height-md float-left h3 margin-left-sm font-color-global-lighter">
                            {{event.title.length>13?(event.title.slice(0,13)+'...'):event.title}}
                        </div>
                        <div class="iconfont-height-md float-right h3 margin-left-md font-color-pink">
                            {{parseDateExpire(event)}}
                        </div>
                    </div>
                    <div class="clear-float margin-left-md padding-right-md padding-height-md {{$index!=0?'border-line-top':''}} border-color-global-base" ng-if="event.type==2" ui-sref="dutyCalendar({weekOffset:0})">
                        <div class="projectIconfont iconfont-md font-color-red radius-full float-left text-center h1">
                            &#xe64d;
                        </div>
                        <div class="iconfont-height-md float-left h3 margin-left-sm font-color-global-lighter">
                            {{event.title.length>13?(event.title.slice(0,13)+'...'):event.title}}
                        </div>
                        <div class="iconfont-height-md float-right h3 margin-left-md font-color-pink">
                            {{parseDateExpire(event)}}
                        </div>
                    </div>
                </li>
                <li class="background-color-white" ng-repeat="event in data.today">
                    <div class="clear-float margin-left-md padding-right-md padding-height-md {{(data.expire.length>0 || $index!=0)?'border-line-top':''}} border-color-global-base" ng-if="event.type==1" ui-sref="writeRecord({eventId:event.eventId})">
                        <div class="projectIconfont iconfont-md font-color-orange radius-full float-left text-center h1">
                            &#xe64f;
                        </div>
                        <div class="iconfont-height-md float-left h3 margin-left-sm font-color-global-lighter">
                            {{event.title.length>13?(event.title.slice(0,13)+'...'):event.title}}
                        </div>
                        <div class="iconfont-height-md float-right h3 margin-left-md font-color-pink">
                            {{parseDateToday(event)}}
                        </div>
                    </div>
                    <div class="clear-float margin-left-md padding-right-md padding-height-md {{$index!=0?'border-line-top':''}} border-color-global-base" ng-if="event.type==2" ui-sref="dutyCalendar({weekOffset:0})">
                        <div class="projectIconfont iconfont-md font-color-red radius-full float-left text-center h1">
                            &#xe64d;
                        </div>
                        <div class="iconfont-height-md float-left h3 margin-left-sm font-color-global-lighter">
                            {{event.title.length>13?(event.title.slice(0,13)+'...'):event.title}}
                        </div>
                        <div class="iconfont-height-md float-right h3 margin-left-md font-color-pink">
                            {{parseDateToday(event)}}
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="clear-float padding-width-md padding-height-md background-color-lightGray border-line-bottom border-line-top border-color-global-base">
                <div class="projectIconfont iconfont-xl font-color-white background-color-blue radius-full float-left text-center">
                    &#xe651;
                </div>
                <div class="iconfont-height-xl float-left h3 margin-left-md">
                    近期工作
                </div>
                <div class="iconfont-height-xl float-right h3 margin-left-md font-color-blue">
                    {{(data.future.length)>0?((data.future.length)+'项'):'无'}}
                </div>
            </div>
            <ul>
                <li class="background-color-white" ng-repeat="event in data.future">
                    <div class="clear-float margin-left-md padding-right-md padding-height-md {{$index!=0?'border-line-top':''}} border-color-global-base" ng-if="event.type==1" ui-sref="writeRecord({eventId:event.eventId})">
                        <div class="projectIconfont iconfont-md font-color-orange radius-full float-left text-center h1">
                            &#xe64f;
                        </div>
                        <div class="iconfont-height-md float-left h3 margin-left-sm font-color-global-lighter">
                            {{event.title.length>6?(event.title.slice(0,6)+'...'):event.title}}
                        </div>
                        <div class="iconfont-height-md float-right h3 margin-left-md font-color-blue">
                            {{parseDateFuture(event)}}
                        </div>
                    </div>
                    <div class="clear-float margin-left-md padding-right-md padding-height-md {{$index!=0?'border-line-top':''}} border-color-global-base" ng-if="event.type==2" ui-sref="dutyCalendar({weekOffset:0})">
                        <div class="projectIconfont iconfont-md font-color-red radius-full float-left text-center h1">
                            &#xe64d;
                        </div>
                        <div class="iconfont-height-md float-left h3 margin-left-sm font-color-global-lighter">
                            {{event.title.length>6?(event.title.slice(0,6)+'...'):event.title}}
                        </div>
                        <div class="iconfont-height-md float-right h3 margin-left-md font-color-blue">
                            {{parseDateFuture(event)}}
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="add" ng-click="onAddClick()">
        <div class="projectIconfont iconfont-lg text-center float-right">&#xe650;</div>
        <ul class="radius-md">
            <li class="border-line-bottom  h0 padding-height-md margin-width-sm">
                <a ui-sref="sort({operateType:'new'})" class="font-color-lightGray">
                    <span class="projectIconfont h1 margin-right-sm">&#xe64d;</span>
                    <span class="h1">创建排班</span>
                </a>
            </li>
            <li class=" h0 padding-height-md margin-width-sm">
                <a ui-sref="startVisit({operateType:'new'})" class="font-color-white">
                    <span class="projectIconfont h1 margin-right-sm">&#xe64f;</span>
                    <span class="h1">发起随访</span>
                </a>
            </li>
        </ul>
    </div>
</div>