<div class="toolListController">

    <a ui-sref="selectList" class="background-color-white display-block h0 padding-left-md">
        <p class="padding-height-md border-line-bottom border-color-global-base title more padding-right-md">
            <i class="margin-right-md background-color-white float-left text-center projectIconfont font-color-green chat">&#xe652;</i><span class="h3 display-inline">发起沟通</span>
        </p>
    </a>
    <a ui-sref="sort({operateType:'new'})" class="display-block h0 padding-left-md background-color-white ">
        <p class="padding-height-md border-line-bottom border-color-global-base title more  padding-right-md">
            <i class=" margin-right-md background-color-white float-left text-center projectIconfont font-color-pink sort">&#xe64f;</i><span class="h3 display-inline">创建排班</span>
        </p>
    </a>
    <a ui-sref="dutyList({weekOffset: 0})" class="padding-left-md  background-color-white display-block h0">
        <p class="padding-height-md title more padding-right-md border-line-bottom border-color-global-base">
            <i class="margin-right-md background-color-white float-left text-cente projectIconfont font-color-darkGreen">&#xe66d;</i>
            <span class="h3 display-inline">批量排班</span>
        </p>
    </a>
    <a ui-sref="startVisit({operateType:'new'})" class="padding-left-md  margin-bottom-lg  background-color-white display-block h0">
        <p class="padding-height-md title more padding-right-md ">
            <i class=" margin-right-md background-color-white float-left text-center projectIconfont font-color-orange">&#xe64d;</i>
            <span class="h3 display-inline">发起随访</span>
        </p>
    </a>
    <!--<a ui-sref="editVisit({operateType:'add'})" class=" padding-left-md background-color-white display-block h0">-->
        <!--<p class="padding-height-md  title more border-line-bottom border-color-global-base title more padding-bottom-md padding-right-md">-->
            <!--<i class=" margin-right-md background-color-white float-left text-center projectIconfont font-color-lightBlue">&#xe653;</i>-->
            <!--<span class="h3 display-inline">随访模板管理</span>-->
        <!--</p>-->
    <!--</a>-->
    <!--<a ui-sref="choiceClass({operateType:'add'})" class="margin-bottom-lg padding-left-md background-color-white display-block h0">-->
        <!--<p class="padding-height-md title more padding-right-md">-->
            <!--<i class=" margin-right-md background-color-white float-left text-center projectIconfont font-color-darkGreen">&#xe654;</i>-->
            <!--<span class="h3 display-inline">班次管理</span>-->
        <!--</p>-->
    <!--</a>-->
    <a ui-sref="manage"
       class="margin-height-lg padding-left-md background-color-white display-block h0">
        <p class="padding-height-md more padding-right-md">
            <i class=" margin-right-md background-color-white float-left text-center projectIconfont font-color-lightBlue">
                &#xe697;</i>
            <span class="h3 display-inline">管理 </span>
            <text class="h4 float-right title more text-more">如班次、随访模板管理等</text>
        </p>
    </a>

    <!--<a ui-sref="tagManage" class="margin-bottom-lg padding-left-md background-color-white display-block h0">-->
        <!--<p class="padding-height-md title more padding-bottom-md padding-right-md">-->
            <!--<i class=" margin-right-md background-color-white float-left text-center projectIconfont font-color-orange">&#xe693;</i>-->
            <!--<span class="h3 display-inline">标签管理</span>-->
        <!--</p>-->
    <!--</a>-->

    <a ui-sref="nurseList({operateType:'show'})" class=" padding-left-md background-color-white display-block h0">
        <p class="padding-height-md padding-bottom-md padding-right-md">
            <i class=" margin-right-md background-color-white float-left text-center projectIconfont font-color-yellow">&#xe658;</i>
            <span class="h3 display-inline">我的全部同事 </span>
            <text class="h4 float-right title more text-more">查看</text>
        </p>
    </a>

</div>