<div class="messageTagStateController">
    <ul>
        <li>
            <a>
                <div class="clear-float padding-width-md padding-height-sm background-color-lightGray border-line-bottom border-color-global-base">
                    <div class="projectIconfont iconfont-xl font-color-white background-color-pink radius-full float-left text-center">
                        &#xe60c;
                    </div>
                    <div class="iconfont-height-xl float-left h3 margin-left-md">
                        日常提醒
                    </div>
                    <div class="iconfont-height-xl float-right h3 margin-left-md font-color-pink">
                        去创建
                        <span class="font-color-global-base projectIconfont">
                            &#xe649;
                        </span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="clear-float padding-width-md padding-height-sm background-color-lightGray border-line-bottom border-color-global-base">
                    <div class="projectIconfont iconfont-xl font-color-white background-color-blue radius-full float-left text-center">
                        &#xe644;
                    </div>
                    <div class="iconfont-height-xl float-left h3 margin-left-md">
                        排班表（空）
                    </div>
                    <div class="iconfont-height-xl float-right h3 margin-left-md font-color-pink">
                        去排班
                        <span class="font-color-global-base projectIconfont">
                            &#xe649;
                        </span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div class="add">
        <div class="projectIconfont iconfont-lg text-center float-right">&#xe650;</div>
    </div>
    <div ng-click="toLogin()" style="z-index: 10001;position: fixed;left: 0;right: 0;top: 0;bottom: 0;"></div>
</div>