<div class="manageController toolListController">
    <a ui-sref="editVisit({operateType:'add'})" class="background-color-white display-block h0 padding-left-md">
        <p class="padding-height-md border-line-bottom border-color-global-base title more padding-right-md">
            <i class="margin-right-md background-color-white float-left text-center projectIconfont font-color-lightBlue chat">&#xe653;</i><span class="h3 display-inline">随访模板管理</span>
        </p>
    </a>
    <a ui-sref="choiceClass({operateType:'add'})" class="display-block h0 padding-left-md background-color-white ">
        <p class="padding-height-md border-line-bottom border-color-global-base title more  padding-right-md">
            <i class=" margin-right-md background-color-white float-left text-center projectIconfont font-color-darkGreen sort">&#xe654;</i><span class="h3 display-inline">班次管理</span>
        </p>
    </a>
    <a ui-sref="tagManage" class="padding-left-md  background-color-white display-block h0">
        <!--<p class="padding-height-md title more padding-right-md border-line-bottom border-color-global-base h3">-->
        <p class="padding-height-md title more padding-right-md h3">
            <i class="margin-right-md background-color-white float-left text-center projectIconfont font-color-orange">&#xe693;</i>
            <span class="h3 display-inline">标签管理</span>
        </p>
    </a>
    <!--<a ui-sref="statistic" class="padding-left-md  margin-bottom-lg  background-color-white display-block h0">-->
            <!--<p class="padding-height-md title more padding-right-md ">-->
                <!--<i class=" margin-right-md background-color-white float-left text-center projectIconfont font-color-pink">&#xe696;</i>-->
                <!--<span class="h3 display-inline">统计管理</span>-->
            <!--</p>-->
        <!--</a>-->
    </div>