<div class="selectListController padding-width-md padding-bottom-xxl">


    <!--<a ui-sref="patientTag({operateType:'communicate'})" class="background-color-white margin-top-md h3 padding-height-sm text-center display-block margin-bottom-md border-radius-6 projectIconfont">&#xe660;&nbsp根据标签查找</a>-->

    <div class="background-color-white padding-top-md margin-re-width-md padding-width-md border-line-bottom border-color-global-base h0">
        <a ng-click="switchActive(true)"
           class="text-center inline-block h3 text-center align-inline-2 border-color-global-base">
            <span class="display-inline {{isNurseShow ? 'border-line-bottom border-color-pink padding-bottom-md display-inline font-color-pink' : ''}}">
                    <span class="display-inline">我的同事（<span ng-bind="nurseLength"></span>）</span>
            </span>
        </a>
        <a ng-click="switchActive(false)" class="align-inline-2 text-center inline-block h3 text-center">
             <span class="display-inline {{ isNurseShow ? '' :'border-line-bottom font-color-pink padding-bottom-md display-inline border-color-pink'}}">
                 <span class="display-inline">科室患者（<span ng-bind="patientLength"></span>）</span>
             </span>
        </a>
    </div>


    <div ng-show="isNurseShow == true" class="nurseList margin-re-width-md margin-bottom-md">
        <section ng-init="open = true" class="font-size-height">
            <div class="background-color-white padding-left-md" ng-click="allCheckNurse()">
                <div class="padding-height-md border-color-global-base {{open == true? '': 'border-color-global-base border-line-bottom'}}">
                    <h3 class="display-inline">所有同事</h3>
                    <p class="h0 float-right">
                        <span class="h4"><i ng-bind="allNursesData.length"></i>人</span>
                        <span class="projectIconfont font-color-global-lighter h4 padding-right-md padding-l-2"
                              ng-hide="open == true">&#xe600;</span>
                        <span class="projectIconfont font-color-global-lighter h4 padding-right-md padding-l-2"
                              ng-show="open == true">&#xe632;</span>
                    </p>
                </div>
            </div>
            <section
                    class="clear-float margin-re-width-md padding-width-md check-list background-color-global-shallowLighter"
                    ng-show="open == true;" ng-init="allSel = false;">
                <div class="background-color-global-shallowLighter clear-float padding-left-md" style="padding-left:0px"
                     ng-repeat="member in allNursesData" ng-init="member.type='nurse'; member.sel = false">
                    <div class="check-warp" ng-click="checkAllSelf(member)">
                        <div class="{{member.sel == true ? 'active-check ': 'check-click'}} check-style "></div>
                    </div>
                    <!--<a ui-sref="nurseDetail({nurseId:{{member.nurseId}}})" class="padding-top-sm  clear-float margin-left-md display-block">-->
                    <a ng-click="checkAllSelf(member)" class="padding-top-sm  clear-float margin-left-md display-block">
                        <img class="img-width-square-xs img-height-square-xs margin-right-md float-left radius-md"
                             ng-src="{{member.avatarUrl}}" alt="">
                        <div class="border-line-bottom padding-bottom-sm h0 img-height-square-xs border-color-global-base">
                            <h2 class="margin-bottom-sm {{member.tag == undefined ? 'padding-top-sm': ''}}"
                                ng-bind="member.name">名字</h2>
                            <div class="display-inline">
                                <span class="background-color-blue h7 font-color-white margin-right-sm radius-md"
                                      ng-repeat="tag in member.tag" ng-bind="tag.tagName" ng-show="$index < 3">标签</span>
                                <span class="background-color-blue h7 font-color-white margin-right-sm radius-md"
                                      ng-show="member.tag.length > 3">...</span>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
            <div class="margin-height-md result-list padding-width-md" ng-click="allNurseCheck()" ng-show="open==true">
                <div class="float-right-all check-style allCheck {{allSel == true ? 'active-check' : 'check-click'}} "
                     style="margin-top:0; padding-top:0;"></div>
                <p class="h3 margin-left-md padding-left-md ">全选</p>
            </div>
        </section>
        <section ng-repeat="nurse in nurseData" ng-init="nurse.sel = 0 ;nurse.haveCheck = false;"
                 class="font-size-height" ng-if="nurseData.length>0">
            <div ng-click="openClose(nurse)" class="background-color-white padding-left-md">
                <div class=" {{nurse.open == true || $index == nurseData.length-1?'':'border-color-global-base border-line-bottom'}} padding-height-md">
                    <h3 class="display-inline" ng-bind="nurse.tagName"></h3>
                    <p class="h0 float-right">
                        <span class="h4"><i ng-bind="nurse.memberNum"></i>人</span>
                        <span class="projectIconfont font-color-global-lighter h4 padding-right-md padding-l-2"
                              ng-hide="nurse.open">&#xe600;</span>
                        <span class="projectIconfont font-color-global-lighter h4 padding-right-md padding-l-2"
                              ng-show="nurse.open">&#xe632;</span>
                    </p>
                </div>
            </div>

            <section class="clear-float margin-re-width-md padding-width-md check-list" ng-show="nurse.open == true">
                <div class="background-color-global-shallowLighter clear-float " ng-repeat="member in nurse.member"
                     ng-init="member.type='nurse'">
                    <div class="check-warp" ng-click="checkSelf(nurse,member)">
                        <div class="{{member.sel == true ? 'active-check ': 'check-click'}} check-style "
                             ng-init="member.sel = false"></div>
                    </div>


                    <!--<a ui-sref="nurseDetail({nurseId:{{member.nurseId}}})" class="padding-top-sm  clear-float margin-left-md display-block">-->
                    <a ng-click="checkSelf(nurse,member)"
                       class="padding-top-sm  clear-float margin-left-md display-block">
                        <img class="img-width-square-xs img-height-square-xs margin-right-md float-left radius-md"
                             ng-src="{{member.avatarUrl}}" alt="">
                        <div class="{{$index == nurse.member.length-1? '': 'border-line-bottom'}} padding-bottom-sm h0 img-height-square-xs border-color-global-base">
                            <h2 class="margin-bottom-sm" ng-bind="member.name">名字</h2>
                            <div class="display-inline {{member.tag == undefined? 'padding-top-sm': ''}}">
                                <span class="background-color-blue h7 font-color-white margin-right-sm radius-md"
                                      ng-repeat="tag in member.tag" ng-bind="tag.tagName" ng-show="$index < 3">标签</span>
                                <span class="background-color-blue h7 font-color-white margin-right-sm radius-md"
                                      ng-show="member.tag.length > 3">...</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="margin-height-md result-list padding-width-md" ng-click="allCheck(nurse)">

                    <div class="float-right-all check-style allCheck {{nurse.sel == 2 ? 'active-check' : 'check-click'}} "
                         style="margin-top:0; padding-top:0;"></div>
                    <p class="h3 margin-left-md padding-left-md ">全选</p>
                </div>
            </section>

        </section>

    </div>

    <div ng-show="isNurseShow == false" class="s-patientList margin-re-width-md margin-bottom-md">

        <section ng-if="isManage" class="padding-left-md patientSection" ng-repeat="patient in patientData"
                 ng-init="patient.type='user'">
            <div class=" padding-width-md h0 padding-height-md margin-re-left-md background-color-global-shallowLighter"
                 style="border: 0;">
                <h3 class="display-inline" ng-bind="patient.title"></h3>
            </div>
            <section class="background-color-white clear-float margin-re-width-md check-list">
                <div class="clear-float" ng-repeat="member in patient.member" ng-init="member.type='user'">
                    <div class="check-warp" ng-click="checkPatientSelf(patientData,member) ">
                        <div class="check-style {{member.sel === true ?'active-check':'check-click'}}"
                             ng-init="member.sel = false"></div>
                    </div>
                    <!--<a ui-sref="patientDetail({patientId:{{member.userId}}})" class="display-block padding-top-sm clear-float margin-left-md">-->
                    <a ng-click="checkPatientSelf(patientData,member)"
                       class="display-block padding-top-sm clear-float margin-left-md">
                        <img class="img-width-square-xs img-height-square-xs margin-right-md float-left radius-md"
                             ng-src="{{member.avatarUrl}}" alt="">
                        <div class=" border-line-bottom border-color-global-base padding-bottom-sm h0 img-height-square-xs">
                            <h2 class="margin-bottom-sm {{member.tag == undefined? 'padding-top-sm': ''}}"
                                ng-bind="member.name">名字</h2>
                            <div class="display-inline">
                                <span class="background-color-blue h7 font-color-white margin-right-sm radius-md"
                                      ng-repeat="tag in member.tag" ng-bind="tag.tagName" ng-show="$index < 3">标签</span>
                                <span class="background-color-blue h7 font-color-white margin-right-sm radius-md"
                                      ng-show="member.tag.length > 3">...</span>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
        </section>
        <section ng-if="!isManage && !patient.isNull" class="padding-left-md patientSection" ng-repeat="patient in patientData"
                 ng-init="patient.type='user'">
            <div class=" padding-width-md h0 padding-height-md margin-re-left-md background-color-global-shallowLighter"
                 style="border: 0;">
                <h3 class="display-inline" ng-bind="patient.title"></h3>
            </div>
            <section class="background-color-white clear-float margin-re-width-md check-list">
                <div class="clear-float" ng-repeat="member in patient.member" ng-init="member.type='user'"
                     ng-if="!member.isBlack">
                    <div class="check-warp" ng-click="checkPatientSelf(patientData,member) ">
                        <div class="check-style {{member.sel === true ?'active-check':'check-click'}}"
                             ng-init="member.sel = false"></div>
                    </div>
                    <!--<a ui-sref="patientDetail({patientId:{{member.userId}}})" class="display-block padding-top-sm clear-float margin-left-md">-->
                    <a ng-click="checkPatientSelf(patientData,member)"
                       class="display-block padding-top-sm clear-float margin-left-md">
                        <img class="img-width-square-xs img-height-square-xs margin-right-md float-left radius-md"
                             ng-src="{{member.avatarUrl}}" alt="">
                        <div class=" border-line-bottom border-color-global-base padding-bottom-sm h0 img-height-square-xs">
                            <h2 class="{{member.tag !=undefined && member.tag.length== 1 &&
                                 member.tag[0].tagType==2 ?
                            'min-height-80 float-left line-height-80 ':''}} {{member.tag == undefined ? 'min-height-80 float-left line-height-80': ''}}"
                             ng-bind="member.name">名字</h2>
                            <div class="display-inline margin-top-sm">
                                <span class="background-color-blue h7 font-color-white margin-right-sm radius-md"
                                      ng-repeat="tag in member.tag" ng-bind="tag.tagName"
                                      ng-show="$index < 3 && (tag.tagType < 2)">标签</span>
                                <span class="background-color-blue h7 font-color-white margin-right-sm radius-md"
                                      ng-show="member.tag.length > 3 && (tag.tagType < 2)">...</span>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
        </section>

        <div class="margin-height-md result-list padding-width-md selAllPatientSection" ng-click="patientAllCheck(patientData)"
             ng-init="patientData.sel = 0">
            <div class="check-style allCheck {{patientData.sel == 2 ? 'active-check' : 'check-click'}} all-check "
                 style="margin-top:0; padding-top:0;"></div>
            <p class="h3 margin-left-md padding-left-md">全选</p>
        </div>
    </div>

    <a ng-click="setCommunicate()"><p class="CommonButtonFix margin-top-xl" style="z-index: 2;">发起沟通</p></a>
</div>