<div class="settingController">
    <a ui-sref="blackList" class="background-color-white display-block h0 padding-left-md" ng-if="nurseStatus== 4 || nurseStatus == 5">
        <p class="padding-height-md border-line-bottom border-color-global-base title more padding-right-md">
            <i class="margin-right-md background-color-white float-left text-center"></i><span class="h3 display-inline">科室黑名单</span>
        </p>
    </a>
    <a ng-click="exitSign()" class=" margin-top-lg h2 text-center background-color-white padding-height-md radius-md margin-width-md display-block">退出登录</a>
</div>