<div class="statisticStateController">
    <div class="padding-md background-color-white display-block">
        <img ng-src="{{data.iconUrl}}"
             class="iconfont-md float-left img-size">
        <div class="iconfont-height-md display-inline margin-left-md ">
            <h3 class=" font-color-global-base">
                科室用户总数
                <span class="font-color-global-lighter h5">({{data.total.date.split(' ')[0]}}起)</span>
            </h3>
            <h4 class="overflow-line-1 font-color-red margin-top-xs">{{data.total.times}}人</h4>
        </div>
    </div>

    <div class="background-color-white margin-height-sm padding-bottom-sm">
        <div class="statistic-title padding-md border-color-global-base h2">
            近7天用户新增趋势
        </div>
        <div id="userEChart" class="user-echart-size"></div>
    </div>

    <div class="background-color-white padding-height-sm clear-float margin-height-sm">

        <div class="border-line-right border-color-global-base padding-left-md float-left box-size-width">
            <div class="projectIconfont background-color radius-sm float-left font-color-white iconfont-width-lg iconfont-height-lg text-center"
                 style="background-color: #00A5DE;">
                &#xe618;</div>
            <div class="float-left margin-left-sm ">
                <div class="h5">
                    <span class="h5">本周新增</span>
                    <span class="h5 font-color-global-lightest font-size-sml">(每周一起)</span>
                </div>
                <div class="h4 font-color-red">+{{data.week.total}}人</div>
            </div>
        </div>

        <div class="padding-left-md float-left box-size-width">
            <div class="projectIconfont iconfont-md background-color-red radius-sm float-left font-color-white iconfont-width-lg iconfont-height-lg text-center">
                &#xe619;</div>
            <div class="float-left margin-left-sm">
                <div class="h5">
                    <span class="">本月新增</span>
                    <span class="font-color-global-lightest font-size-sml">(每月一号起)</span></div>
                <div class="h4 font-color-red">+{{data.month.total}}人</div>
            </div>
        </div>

    </div>
    <a ui-sref="planCount({statisticType: 'plan'})">
        <p class="clear-float padding-width-md padding-height-sm background-color-white margin-height-sm">
            <i class="projectIconfont iconfont-md background-color-blue radius-sm float-left font-color-white iconfont-width-lg iconfont-height-lg text-center">
                &#xe61b;
            </i>
            <span class="h3 margin-left-sm float-left font-color-global-base iconfont-height-lg">
                康复计划人均阅读
            </span>
            <span class="h4 float-right font-color-global-lightest iconfont-height-lg">
                <span class="font-color-global-lightest">{{data.plan}}</span>篇/人<span
                    class="projectIconfont">&#xe600;</span>
            </span>
        </p>
    </a>
    <a ui-sref="toolCount({statisticType: 'tool'})">
        <p class="clear-float padding-width-md padding-height-sm background-color-white margin-height-sm">
            <i class="projectIconfont iconfont-md background-color-yellow radius-sm float-left font-color-white iconfont-width-lg iconfont-height-lg text-center">
                &#xe61c;
            </i>
            <span class="h3 margin-left-sm float-left font-color-global-base iconfont-height-lg">
                康复工具人均阅读
            </span>
            <span class="h4 float-right font-color-global-lightest iconfont-height-lg">
                <span class="font-color-global-lightest">{{data.tool}}</span>个/人<span
                    class="projectIconfont">&#xe600;</span>
            </span>
        </p>
    </a>
</div>