<div class="tagManageController">
    <a ui-sref="patientTagManage" class="background-color-white display-block h0 padding-left-md">
        <p class="padding-height-md border-line-bottom border-color-global-base title more padding-right-md">
            <span class="h3 display-inline">患者标签</span>
        </p>
    </a>
    <a ui-sref="nurseTagManage" class="display-block h0 padding-left-md background-color-white border-line-bottom border-color-global-base">
        <p class="padding-height-md  title more  padding-right-md">
            <span class="h3 display-inline">护士标签</span>
        </p>
    </a>
</div>