.registerController{

  .inputs{
    padding-top:remSize(35);
    padding-bottom:remSize(35);
  }
  img{
    width:remSize(290);
    height:remSize(123);
    padding-left:remSize(200);
  }
  .lines{
    position: relative;
  }
  .test{
    position: absolute;
    top:remSize(20);
    right:0;
  }
}