$fromColor: #646464;
$toColor: map_get($baseColorMap, 'main');
.loadingController {
  background-color: rgba(1, 1, 1, 0.35);
  .loading {
    $loadingAnimateDurning: 2s;
    font-size: 0;
    div {
      display: inline-block;
      height: 0.5rem;
      width: 0.4rem;
      margin: 0 0.15rem;
      animation: loadingColorChange $loadingAnimateDurning infinite;
      background-color: $fromColor;

    }
    @for $i from 0 through 3 {
      div:nth-of-type(#{$i}) {
        animation-delay: ( $i - 1 )*($loadingAnimateDurning/4);
      }
    }
  }
}

@keyframes loadingColorChange {
  0% {
    background-color: $fromColor;
  }
  33% {
    background-color: $toColor;
  }
  66% {
    background-color: $fromColor;
  }
  100% {
    background-color: $fromColor;
  }
}
