$baseColorMap: (
        "main":#ff8080,
        "pink":#ff8080,
        "green":#32c86e,
        "lightGreen":#00c7c7,
        "darkGreen":#1dbc8e,
        "orange":#fd8a58,
        "water":#84bef0,
        "yellow":#fec24b,
        "lightGray":#f5f5f5,
        "white":#fff,
        "darkestGreen":#005F7B,
        "lightBlue":#84bef0,
        "blue":#529eff,
        "red":#f25d5d,
        "purple":#8a8ae7,
        "cyan":#64c1d5,
        "gray":#999999,
        "light":#0480ac,
        "lights":#28275e,
        "purples":#6a1b9a,
        "greens":#018765,
        "reddish":#ec440e
) !global;
$mainColor: map_get($baseColorMap, 'green') !global;
$fontColorMap: (
        "base":#333,
        "lighter":#666,
        "lightest":#999,
        "link":#666
) !global;
$borderColorMap: (
        "base":#E8E8E8,
        "heavyer":#d0d0d0,
        "deepHeavyer":#ddd

) !global;
$backgroundColorMap: (
        "base":#eee,
        "lighter":#eee,
        "shallowLighter":#f5f5f5
) !global;