<div class="tabbarController ng-hide" ng-show="active>=0">
    <div class="tabbarContainer">
        <a ng-click="gotoPage(0)" class="item align-inline-4 {{newMsgsActive[0]==true?'new':''}}"
           ng-class="{true:'active'}[active==0]">
            <i ng-show="active!=0" class="projectIconfont ">&#xe645;</i>
            <i ng-show="active==0" class="projectIconfont ">&#xe646;</i>
            <h4>消息</h4>
        </a>
        <a ng-click="gotoPage(1)"
           class="item align-inline-4 {{newMsgsActive[1]==true?'new':''}}" ng-class="{true:'active'}[active==1]">
            <i ng-show="active!=1" class="projectIconfont ">&#xe63b;</i>
            <i ng-show="active==1" class="projectIconfont ">&#xe657;</i>
            <h4>患者</h4>
        </a>
        <a ng-click="gotoPage(2)" class="item align-inline-4 {{newMsgsActive[2]==true?'new':''}}"
           ng-class="{true:'active'}[active==2]">
            <i ng-show="active!=2" class="projectIconfont ">&#xe638;</i>
            <i ng-show="active==2" class="projectIconfont ">&#xe640;</i>
            <h4>工具</h4>
        </a>
        <a ng-click="gotoPage(3)" class="item align-inline-4 {{newMsgsActive[3]==true?'new':''}}"
           ng-class="{true:'active'}[active==3]">
            <i ng-show="active!=3" class="projectIconfont ">&#xe642;</i>
            <i ng-show="active==3" class="projectIconfont ">&#xe643;</i>
            <h4>我的</h4>
        </a>
    </div>
</div>