<div class="beforeRecordController padding-width-md">
    <a ui-sref="" class="">
        <img src="" alt="">
        <div>
            <p class="h3">名字</p>
            <p>
                <span>标签</span>
                <span>标签标签标签标签</span>
            </p >
        </div>
    </a >
    <div class="margin-top-sm padding-height-lg margin-top-sm">
        <span class="setTemplateSpan inline-block">首次随访时间</span>
        <span class="font-color-global-lighter">2016-9-15</span>
        <!--<span class="float-right font-color-green h5">尚未执行</span>-->
    </div>
    <div class="padding-height-lg margin-top-sm">
        <span class="setTemplateSpan inline-block">随访目的</span>
        <span class="font-color-global-lighter">患者院后生命体征，记录关键数据</span>
    </div>
    <div class="padding-height-lg clear-float margin-top-sm">
        <span class="float-left inline-block setTemplateSpan height50">自我能力自评</span>
        <p class="font-color-global-lighter float-left widthSpan">了解患者院后生命体征，记录关键数据
        </p>
    </div>
    <div class="iconPositions clear-float background-color-white padding-top-lg margin-top-sm">
        <span class="setTemplateSpan float-left">宣教阅读情况</span>
        <div class="float-left">
            <p class="plightheight"><span>腰椎术后营养指导</span><span class="font-color-green">已读</span></p>
            <p class="plightheight"><span>腰椎术后营养指导</span><span class="font-color-pink">未读</span></p>
            <p class="plightheight"><span>腰椎术后营养指导</span><span class="font-color-pink">未读</span></p>
        </div>
    </div>
    <div class="padding-height-lg clear-float margin-top-sm">
        <span class="float-left inline-block setTemplateSpan height50">随访记要</span>
        <p class="font-color-global-lighter float-left widthSpan">了解患者院后生命体征，记录关键数据
        </p>
    </div>
    <div class="margin-top-sm padding-height-lg">
        <span class="setTemplateSpan inline-block">执行随访护士</span>
        <span class="font-color-global-lighter">张双双</span>
    </div>
</div>