<div class="dutyCalendarController">
    <a ng-click="routerToMessageTag()" class="h2 font-color-global-base btn-back"></a>
    <a ui-sref="dutyList({weekOffset:0})" class="h2 margin-right-md font-color-global-base many-duty">批量排班</a>
    <div class="positionFix">
        <div class="h3 padding-width-md clear-float background-color-darkGreen">
            <span class="float-left font-color-white padding-height-md" ng-bind="data.scheduleByPerson[0].data[0].date | date: 'yyyy年MM月'">2016年10月</span>
            <a ui-sref="dutyChange({weekOffset:weekOffset})" class="font-color-white float-right padding-height-md h3">切换视图<span class="projectIconfont padding-left-sm font-color-white h4">&#xe670;</span></a>
        </div>
        <div class="background-color-global-base clear-float" ng-hide="data.scheduleByPerson == undefined || data.scheduleByPerson.length <= 0">
            <div class="float-left dutyButton padding-width-md">
                <p class="iconfont h4 font-color-global-lighter" ng-click="prevWeek()"><span class="iconSize text-center projectIconfont font-color-darkGreen">&#xe68a;</span></p>
                <p class="iconfont h4 font-color-global-lighter" ng-click="nextWeek()"><span class="iconSize text-center projectIconfont font-color-darkGreen">&#xe68b;</span></p>
            </div>
            <ul class="float-right">
                <li class="h3"><span ng-repeat="i in dateNum" ng-bind="i.displayDate.split('')[1]" class="{{i.isToday==true?'font-color-pink':''}} inline-block text-center"></span></li>
                <li class="h3"><span ng-repeat="d in dateNum" ng-bind="d.date | date:'d'" class="{{(d.date | date:'dd')==nowTimeDay && (d.date | date:'MM') == nowTimeMonth ?'border-color-pink border-line-bottom font-color-pink':''}} inline-block text-center"></span></li>
            </ul>
        </div>
    </div>
    <table class="background-color-lightGray marginTop" cellpadding="0" cellspacing="0" >
        <tr ng-repeat="(i,list) in data.scheduleByPerson" class="{{i%2==0?'background-color-white':'background-color-lightGray'}}">
            <td class="dutyButton h4 text-center {{i!=0?'border-line-top border-color-global-base':''}}"><p class="text-center" ng-bind="list.name.length>=4?list.name.slice(0,3)+'...':list.name"></p></td>
            <td class="h4 text-center {{i!=0?'border-line-top border-color-global-base':''}}" ng-repeat="row in list.data" ng-click="editShedule(list,$index)">
                <p class="text-center" ng-repeat="roster in data.rosters" ng-if="row.rosterIds.indexOf(roster.rosterId)>=0">
                <span ng-bind="roster.name.length>=4?roster.name.slice(0,3):roster.name" class="height-{{row.rosterIds.length<nums[i] && row.rosterIds.length >= 1 ? (nums[i]):row.rosterIds.length}}-{{row.rosterIds.length}} display-block h5 text-center font-color-{{roster.colorClass}}"></span>
                </p>
                <p class="h5 projectIconfont padding-height-md iconColors text-center" ng-if="row.rosterIds.length<=0">&#xe650;</p>
            </td>
        </tr>
    </table>
    <div class="text-center dataNull" ng-show="data.scheduleByPerson == undefined || data.scheduleByPerson.length <= 0">
        <img class="margin-top-xl" src="img/dataNull.png" alt="">
        <p class="h3 font-color-base text-center margin-top-md">暂无数据</p>
    </div>
</div>