<div class="writeRecordController">
    <a ng-click="setSelChat(data.target)"
       class="padding-width-md display-block contentCenterTable {{data.target.tag.length<0?'padding-height-sm':''}}">
        <p class="contentCenter "><img src="" alt="" ng-src="{{data.target.avatar}}"
                                       class="img-width-square-xs img-height-square-xs margin-right-md float-left {{data.target.tag.length<0?'':'margin-height-sm'}}">
        </p>
        <div class=" contentCenter">
            <p class="h3 margin-height-sm" ng-bind="data.target.name"></p>
            <p>
                <span ng-repeat="tags in data.target.tag" class="margin-bottom-sm">{{tags.tagName}}</span>
            </p>
        </div>
        <div class="contentCenter"><p class="title more"></p></div>
    </a>
    <!--下拉列表-->
    <!--event的status字段与action的status表示的意义不同-->
    <div class="background-color-white">
        <div ng-repeat="target in data.event" class="margin-left-md">
            <div class="padding-height-lg border-color-global-base border-line-top" ng-click="stateButton($index)">
                <span class="inline-block setTemplateSpan" ng-bind="target.title"></span>
                <span class="font-color-global-lighter" ng-bind="target.startTime"></span>
                <p class="float-right h0 padding-right-md">
                    <span class="font-color-green h4" ng-if="target.status == 2">已完成</span>
                    <span class="font-color-pink h4" ng-if="target.status == 1">未完成</span>
                    <span class="projectIconfont font-color-global-lighter h4 padding-left-sm" ng-hide="$index==selIndex">&#xe600;</span>
                    <span class="projectIconfont font-color-global-lighter h4 padding-left-sm" ng-show="$index==selIndex">&#xe632;</span>
                </p>
            </div>
            <div ng-show="$index==selIndex" style="padding-bottom: 1px;">
                <div class="padding-height-lg border-color-global-base padding-right-md border-line-top clear-float">
                    <p class="setTemplateSpan float-left contentspan">随访目的</p>
                    <p class="font-color-global-lighter float-left widthSpan h4 contentspan" ng-bind="target.purpose"
                       ng-show="target.status == 2"></p>
                    <textarea ng-show="target.status == 1" ng-model="target.purpose"
                              class="font-color-global-lighter float-left widthRead widthSpan h4 contentspan textarea"
                              placeholder="请在此处输入随访记要..." rows="3"></textarea>
                    <!--<div class="record-input font-color-global-lighter h4 border-line-bottom border-color-green" ng-show="target.status == 1" ng-bind="target.purpose" contenteditable placeholder="请在此处输入随访记要..."></div>-->
                    <!--<div  ng-show="target.status == 1" class="content border-line-bottom border-color-darkGreen font-color-global-lighter float-left widthRead h4 contentspan" ng-bind="target.purpose" contenteditable="true" style="word-break: break-all" placeholder="请在此处输入随访目的..."></div>-->
                </div>
                <div class="padding-height-lg clear-float border-color-global-base border-line-top">
                    <span class="float-left inline-block setTemplateSpan contentspan">自我能力自评</span>
                    <p class="font-color-global-lighter float-left widthRead contentspan">了解患者院后生命体征，记录关键数据</p>
                </div>
                <div class="iconPositions clear-float background-color-white padding-height-sm border-color-global-base border-line-top">
                    <span class="setTemplateSpan float-left contentspan">推送给患者</span>
                    <div class="float-left padding-bottom-sm contentspan">
                        <p class=" widthSpan font-color-global-lighter h3 contentspan">康复宣教</p>
                        <p class="contentspan widthSpan" ng-repeat="article in target.wechat.content.article">
                            <span class="widthRead h4 font-color-global-lightest" ng-bind="article.title"></span>
                            <span class="font-color-green float-right inline-block h4 contentspan"
                                  ng-if="article.read == true">已读</span>
                            <span class="font-color-pink float-right inline-block h4 contentspan"
                                  ng-if="article.read == false">未读</span>
                        </p>
                        <div>
                            <div class=" widthSpan font-color-global-lighter h3 contentspan">康复工具</div>
                            <p class="h4 contentspan" ng-repeat="article in target.wechat.content.tool">
                                <span class="widthRead h4 font-color-global-lightest" ng-bind="article.title"></span>
                                <span class="font-color-green float-right inline-block h4"
                                      ng-if="article.summary !==''">已完成</span>
                                <span class="font-color-pink float-right inline-block h4"
                                      ng-if="article.summary == ''">未完成</span>
                            </p>
                        </div>
                        <button class="padding-height-xs font-color-white inline-block background-color-green radius-md padding-width-xl h4 border-line border-color-white"
                                ng-click="push(target)" ng-disabled="target.wechat.status  == 2">推送
                            <span class="projectIconfont font-color-white padding-width-sm">&#xe683;</span></button>
                        <label class="padding-top-sm font-color-green h4 float-right" ng-if="target.wechat.status==2">
                            推送成功</label>
                        <label class="padding-top-sm font-color-pink h4 float-right" ng-if="target.wechat.status==1">尚未推送</label>
                    </div>
                </div>
                <div class="padding-height-lg clear-float border-color-global-base border-line-top">
                    <span class="float-left inline-block setTemplateSpan contentspan">随访记要</span>
                    <p ng-show="target.status == 2"
                       class="font-color-global-lighter float-left widthRead textArea contentspan h4"
                       ng-bind="target.brief.content"></p>
                    <textarea ng-show="target.status == 1" ng-model="target.brief.content" id="textValue"
                              class="contentspan font-color-global-lighter float-left widthRead h4 textarea"
                              placeholder="请在此处输入随访记要..." rows="3"></textarea>
                    <!--<div  ng-show="target.status == 1" class="content border-line-bottom border-color-darkGreen font-color-global-lighter float-left widthRead h4 contentspan" ng-bind="target.brief.content" contenteditable="true" style="word-break: break-all" placeholder="请在此处输入随访记要..." onclick="javascript:resizeTextarea(this);"
                              onkeyup="javascript:resizeTextarea(this);" onkeydown="javascript:resizeTextarea(this);"
                              onchange="javascript:resizeTextarea(this);"></div>-->
                </div>
                <div class="padding-height-lg border-color-global-base border-line-top border-line-bottom">
                    <span class="setTemplateSpan inline-block">执行随访护士</span>
                    <span class="font-color-global-lighter" ng-bind="target.executorName"></span>
                </div>
                <p class="margin-height-xl background-color-pink text-center padding-height-md margin-right-md radius-md h2 confirm font-color-white"
                   ng-show="target.status == 1" ng-click="completeFollowUp(target)">完成本次随访</p>
            </div>
        </div>
    </div>
</div>