@charset "utf-8";
.debug {
  .debugBlock {
    position: relative;
  }
  .debugAfter {
    position: absolute;
    border-radius: 10%;
    &:after {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      display: block;
      font-size: 12px;
      white-space: nowrap;
    }
  }
  //字号
  @each $name, $size in $hMap {
    .#{$name}, #{$name} {
      .#{$name}-debug {
        font-size: $size;
        line-height: 1.2;
        &:before {
          content: '[#{$name}]';
          color: red;
        }
      }
    }
  }

  //iconfont size
  @each $iconName, $iconSize in $iconSizeMap {
    .iconfont-height-#{$iconName}, .iconfont-#{$iconName} {
      @extend .debugBlock;
      .iconfont-height-#{$iconName}-debug {
        @extend .debugAfter;
        width: $iconSize;
        height: 12px;
        left: 0;
        right: 0;
        top: -12px;
        border: 1px solid red;
        text-align: center;
        line-height: 0;
        color: red;
        &:after {
          content: '#{$iconName}';
        }
      }
    }
    .iconfont-width-#{$iconName}, .iconfont-#{$iconName} {
      @extend .debugBlock;
      .iconfont-width-#{$iconName}-debug {
        @extend .debugAfter;
        width: 12px;
        height: $iconSize;
        left: -12px;
        top: 0;
        bottom: 0;
        border: 1px solid red;
        text-align: center;
        line-height: $iconSize;
        color: red;
        &:after {
          content: '#{$iconName}';
        }
      }
    }
  }

  //img size
  @each $name2, $imgSize in $imgSizeMap {
    @each $name1, $sqSize in $square {
      .img-width-#{$name1}-#{$name2}, .img-#{$name1}-#{$name2} {
        @extend .debugBlock;
        .img-width-#{$name1}-#{$name2}-debug {
          @extend .debugAfter;
          width: $sqSize * $imgSize;
          height: 12px;
          left: 0;
          right: 0;
          top: -12px;
          border: 1px solid red;
          text-align: center;
          line-height: 0;
          color: red;
          &:after {
            content: '#{$name1}-#{$name2}';
          }
        }
      }
      .img-height-#{$name1}-#{$name2}, .img-#{$name1}-#{$name2} {
        @extend .debugBlock;
        .img-height-#{$name1}-#{$name2}-debug {
          @extend .debugAfter;
          width: 12px;
          height: $imgSize;
          left: -12px;
          top: 0;
          bottom: 0;
          border: 1px solid red;
          text-align: center;
          line-height: $imgSize;
          color: red;
          &:after {
            content: '#{$name1}-#{$name2}';
          }
        }
      }
    }
  }
  //margin size
  @each $name, $size in $spaceSizeMap {
    .margin-top-#{$name}, .margin-height-#{$name}, .margin-#{$name} {
      @extend .debugBlock;
      .margin-top-#{$name}-debug {
        @extend .debugAfter;
        width: $size;
        height: $size;
        left: 0;
        top: -1*$size;
        background-color: map_get($spaceSizeDebugColorMap, $name);
        &:after {
          //content: 'P';
        }
      }
    }
    .margin-bottom-#{$name}, .margin-height-#{$name}, .margin-#{$name} {
      @extend .debugBlock;
      .margin-bottom-#{$name}-debug {
        @extend .debugAfter;
        width: $size;
        height: $size;
        right: 0;
        bottom: -1*$size;
        background-color: map_get($spaceSizeDebugColorMap, $name);
        &:after {
          //content: 'P';
        }
      }
    }
    .margin-left-#{$name}, .margin-width-#{$name}, .margin-#{$name} {
      @extend .debugBlock;
      .margin-left-#{$name}-debug {
        @extend .debugAfter;
        width: $size;
        height: $size;
        left: -1*$size;
        top: 0;
        background-color: map_get($spaceSizeDebugColorMap, $name);
        &:after {
          //content: 'P';
        }
      }
    }
    .margin-right-#{$name}, .margin-width-#{$name}, .margin-#{$name} {
      @extend .debugBlock;
      .margin-right-#{$name}-debug {
        @extend .debugAfter;
        width: $size;
        height: $size;
        right: -1*$size;
        bottom: 0;
        background-color: map_get($spaceSizeDebugColorMap, $name);
        &:after {
          //content: 'P';
        }
      }
    }
  }

  //padding size
  @each $name, $size in $spaceSizeMap {
    .padding-top-#{$name}, .padding-height-#{$name}, .padding-#{$name} {
      @extend .debugBlock;
      .padding-top-#{$name}-debug {
        @extend .debugAfter;
        width: $size;
        height: $size;
        left: $size;
        top: 0;
        background-color: map_get($spaceSizeDebugColorMap, $name);
        &:after {
          //content: 'P';
        }
      }
    }
    .padding-bottom-#{$name}, .padding-height-#{$name}, .padding-#{$name} {
      @extend .debugBlock;
      .padding-bottom-#{$name}-debug {
        @extend .debugAfter;
        width: $size;
        height: $size;
        right: $size;
        bottom: 0;
        background-color: map_get($spaceSizeDebugColorMap, $name);
        &:after {
          //content: 'P';
        }
      }
    }
    .padding-left-#{$name}, .padding-width-#{$name}, .padding-#{$name} {
      @extend .debugBlock;
      .padding-left-#{$name}-debug {
        @extend .debugAfter;
        width: $size;
        height: $size;
        left: 0;
        top: $size;
        background-color: map_get($spaceSizeDebugColorMap, $name);
        &:after {
          //content: 'P';
        }
      }
    }
    .padding-right-#{$name}, .padding-width-#{$name}, .padding-#{$name} {
      @extend .debugBlock;
      .padding-right-#{$name}-debug {
        @extend .debugAfter;
        width: $size;
        height: $size;
        right: 0;
        bottom: $size;
        background-color: map_get($spaceSizeDebugColorMap, $name);
        &:after {
          //content: 'P';
        }
      }
    }
  }

}