<div class="choiceColorController">
    <div class="background-color-white">
        <div class="border-color-global-base border-line-bottom background-color-white padding-right-md margin-left-md h3 padding-height-lg"  ng-click="selColor('green')">
            <p class="green radius-md inline-block pos" ></p>
            <p class="margin-left-md inline-block">绿色</p>
            <!--<span class="iconfont float-right h4" ng-hide="">&#xe685;</span>-->
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-right-md margin-left-md h3 padding-height-lg"   ng-click="selColor('orange')">
            <p class="orange inline-block radius-md pos" ></p>
            <p class="margin-left-md inline-block">橙色</p>
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-right-md margin-left-md h3 padding-height-lg"   ng-click="selColor('red')">
            <p class=" red inline-block radius-md pos" ></p>
            <p class="margin-left-md inline-block">红色</p>
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-right-md margin-left-md h3 padding-height-lg"   ng-click="selColor('yellow')">
            <p class=" yellow inline-block radius-md pos" ></p>
            <p class="margin-left-md inline-block">黄色</p>
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-right-md margin-left-md h3 padding-height-lg"   ng-click="selColor('blue')">
            <p class=" blue inline-block radius-md pos"></p>
            <p class="margin-left-md inline-block">蓝色</p>
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-right-md margin-left-md h3 padding-height-lg"   ng-click="selColor('pink')">
            <p class="pink inline-block radius-md pos" ></p>
            <p class="margin-left-md inline-block">粉色</p>
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-width-md h3 padding-height-lg"   ng-click="selColor('purple')">
            <p class=" purple inline-block radius-md pos" ></p>
            <p class="margin-left-md inline-block">紫色</p>
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-width-md h3 padding-height-lg"   ng-click="selColor('cyan')">
            <p class="cyan inline-block radius-md pos" ></p>
            <p class="margin-left-md inline-block">青色</p>
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-width-md h3 padding-height-lg"   ng-click="selColor('gray')">
            <p class=" gray inline-block radius-md pos" ></p>
            <p class="margin-left-md inline-block">灰色</p>
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-width-md h3 padding-height-lg"   ng-click="selColor('light')">
            <p class=" light inline-block radius-md pos" ></p>
            <p class="margin-left-md inline-block">湖蓝色</p>
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-width-md h3 padding-height-lg"   ng-click="selColor('lights')">
            <p class=" lights inline-block radius-md pos" ></p>
            <p class="margin-left-md inline-block">深蓝色</p>
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-width-md h3 padding-height-lg"   ng-click="selColor('purples')">
            <p class=" purples inline-block radius-md pos" ></p>
            <p class="margin-left-md inline-block">深紫色</p>
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-width-md h3 padding-height-lg"   ng-click="selColor('greens')">
            <p class=" greens inline-block radius-md pos" ></p>
            <p class="margin-left-md inline-block">深绿色</p>
        </div>
        <div class="border-color-global-base border-line-bottom background-color-white padding-width-md h3 padding-height-lg"   ng-click="selColor('reddish')">
            <p class=" reddish inline-block radius-md pos" ></p>
            <p class="margin-left-md inline-block">橘红色</p>
        </div>
    </div>
</div>