<div class="swiper-container guidePageController">
    <div class="swiper-wrapper">
        <!--<div class="swiper-slide" style="background-image: url('./img/g1.jpg')" ng-click="next()"></div>-->
        <!--<div class="swiper-slide" style="background-image: url('./img/g2.jpg')" ng-click="next()"></div>-->
        <!--<div class="swiper-slide" style="background-image: url('./img/g3.jpg')" ng-click="next()"></div>-->
        <!--<div class="swiper-slide" style="background-image: url('./img/g4.jpg')" ng-click="next()"></div>-->
        <!--<a style="display: block;background-image: url('./img/g5.jpg')"  class="swiper-slide" ui-sref="fakeMainPage"></a>-->

        <div class="swiper-slide" ng-click="next()">
            <div class="s1" style="background-image: url('./img/g1_02.png')"></div>
            <div class="s2" style="background-image:url('./img/g1_04.png')"></div>
        </div>
        <div class="swiper-slide" ng-click="next()">
            <div class="s1" style="background-image: url('./img/g2_02.png')"></div>
            <div class="s2" style="background-image:url('./img/g2_04.png')"></div>
        </div>
        <div class="swiper-slide" ng-click="next()">
            <div class="s1" style="background-image: url('./img/g3_02.png')"></div>
            <div class="s2" style="background-image:url('./img/g3_04.png')"></div>
        </div>
        <div class="swiper-slide" ng-click="next()">
            <div class="s1" style="background-image: url('./img/g4_02.png')"></div>
            <div class="s2" style="background-image:url('./img/g4_04.png')"></div>
        </div>
        <a class="swiper-slide" ui-sref="fakeMainPage">
            <div class="s1" style="background-image: url('./img/g5_02.png')"></div>
            <div class="s2" style="background-image:url('./img/g5_04.png')"></div>
        </a>
    </div>
    <div class="swiper-pagination" ng-show="selIndex!=4"></div>
</div>