<div class="patientTagManageController padding-bottom-xxl">
    <!--暂无数据-->
    <div  ng-show=" data.tag.length == 0 || data.tag == undefined" class="text-center dataNull">
        <img class="margin-top-xl" src="img/dataNull.png" alt="">
        <p class="h3 font-color-base text-center margin-top-md">暂无数据</p>
    </div>

    <div ng-hide="data.tag.length == 0 || data.tag == undefined">
        <a  ng-show="data.tag.length != 0 && !isSearch" ng-click="onIsSearchStatus(true)" class="background-color-white h3 padding-height-sm text-center display-block  border-radius-6 projectIconfont margin-width-md margin-top-md">&#xe660;&nbsp;输入关键字查找</a>

        <div ng-show="isSearch" class="margin-width-md clear-float margin-top-md">
            <div class="float-left position-warp">
                <input ng-model="searchKey" type="text" class=" searchInput del-after float-left background-color-white h3 border-radius-6 padding-height-sm  width-540 padding-left-sm padding-right-70" placeholder="输入关键字查找">
                <span ng-show="searchKey.toString().length > 0"  ng-click="onClearInput()" class="del-input-after padding-width-sm"></span>
            </div>
            <span class="float-right h2 cancel-text margin-re-right-md padding-right-md" ng-click="onIsSearchStatus(false)">取消</span>
        </div>

        <section  ng-repeat="tagObj in data.tag | orFilter: searchKey"  class="" ng-if="tagObj!=undefined">
            <div ng-if="tagObj.isShow">
                <h2 class="padding-height-md padding-left-md" ng-bind="tagObj.tagCategoryName"></h2>
                <p class="clear-float tag-span" >
                    <span ng-repeat="tag in tagObj.tag| orFilter: isTag(tagObj) ? '':searchKey" class=" {{isDelState ? 'del-tag-after' :''}} margin-bottom-md radius-md margin-left-md float-left text-center h3" ng-click="onAlertTag(tag,tagObj)" ng-bind="tag.tagName"  ng-if="tag.tagType < 2 && tag.isShow"></span>
                    <a ng-show="!isDelState" class="margin-bottom-md radius-md margin-left-md float-left text-center font-color-lightest projectIconfont" ng-click="onAddTag(tagObj)">&#xe650;</a>
                </p>
            </div>
        </section>

    </div>


    <div ng-show="!isDelState && data.tag.length != 0" class="fix-warp">
        <a ng-click="onShowDelStatus()" class="h2 align-inline-2 background-color-red font-color-white text-center float-left padding-height-md">删除标签</a>
        <a ng-click="onAddCategory()" class="h2 align-inline-2 background-color-white text-center float-left padding-height-md">新增分类</a>
    </div>
    <a ng-show=" data.tag.length == 0 || data.tag == undefined" class="fix-warp display-block background-color-white text-center h2 padding-height-md border-color-global-base border-line-top" ng-click="onAddCategory()">新增分类</a>
    <div ng-show="isDelState" ng-click="onHideDelStatus()" class="fix-warp h2 background-color-pink font-color-white text-center padding-height-md">完成</div>
</div>

