<div class="scheduleController padding-width-md">
      <div class="padding-height-sm h3 clear-float">
          <div class="iconfont radius-md iconfont-md iconfont-height-xxl iconfont-width-xxl background-color-blue text-center float-left margin-right-md"></div>
          <span class="float-left margin-height-35 font-color-global-base">今日日程</span>
          <span class="float-right margin-height-35 font-color-pink h4">3项</span>
      </div>
    <ul>
        <a ui-sref="day({userId:data.userId})">
            <li>
                <span class="margin-right-sm font-color-global-lighter">张秋丽</span>
                <span class="font-color-global-lighter">首次随访</span>
                <span class="float-right font-color-pink h4">15:00-17:00</span>
            </li>
        </a>
        <a href="#">
            <li>
                <span class="margin-right-sm font-color-global-lighter">中班</span>
                <p class="float-right font-color-global-lightest h4"><span class="font-color-pink">15:00</span>-<span class="font-color-pink">17:00</span></p>
            </li>
        </a>
        <a href="#">
            <li>
                <span class="margin-right-sm font-color-global-lighter">马力的术后随访</span>
                <p class="float-right font-color-pink h4"><span class="font-color-pink">15:00</span>-<span class="font-color-pink">17:00</span></p>
            </li>
        </a>
    </ul>
    <div class="padding-height-sm h3 clear-float">
        <div class="iconfont radius-md iconfont-md iconfont-height-xxl iconfont-width-xxl font-color-white background-color-orange text-center float-left margin-right-md"></div>
        <span class="float-left margin-height-35 font-color-global-base">今后的工作</span>
        <span class="float-right margin-height-35 font-color-blue h4">3项</span>
    </div>
    <ul>
        <a href="#">
            <li>
                <span class="margin-right-sm font-color-global-lighter">张秋丽</span>
                <span class="font-color-global-lighter">首次随访</span>
                <p class="float-right font-color-blue h4"><span class="font-color-blue">15:00</span>-<span class="font-color-blue">17:00</span></p>
            </li>
        </a>
        <a href="#">
            <li>
                <span class="margin-right-sm font-color-global-lighter">中班</span>
                <p class="float-right font-color-blue h4"><span class="font-color-blue">15:00</span>-<span class="font-color-blue">17:00</span></p>
            </li>
        </a>
        <a href="#">
            <li>
                <span class="margin-right-sm font-color-global-lighter">马力的术后随访</span>
                <p class="float-right font-color-global-lightest h4"><span class="font-color-blue">15:00</span>-<span class="font-color-blue">17:00</span></p>
            </li>
        </a>
    </ul>
</div>